<div *ngIf="skill" class="col me-5 mb-4">
    <div class="row">
        <div class="col-1 me-3">
            <img [src]="urlImages + skill.image" alt="">
        </div>
        <div class="col">
            <h5>{{skill.name}}</h5>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" 
                aria-label="Info example" 
                [style.width]="(skill.level * 10)+'%'"
                [attr.aria-valuenow]="skill.level + ''"
                aria-valuemin="0" aria-valuemax="10"></div>
            </div>
        </div>

    </div>
</div>
