.banner
{
    background-color: #2D2E32;
    height: 700px;    
}


img{
    height: 90%;
    border-radius: 100%;
    margin-left: 17%;
}

#imgcontainer
{
    background: rgb(39,41,45);
    background: linear-gradient(180deg, rgba(39,41,45,1) 0%, rgba(45,46,50,1) 75%);
    border-radius: 100%;
    height: 450px;
}
