.banner
{
    background-color: #2D2E32;
    height: 700px;    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.names
{
    position: absolute;
    top: 100px;
    left: 100px
}

img{
    border-radius: 100%;
}

.skillsdetails
{
    position: absolute;
    z-index: 2;
    left: 0px;        
}

.profileimg
{
    position: absolute;
    top: 0;
    z-index: 1;
    border: red 1px;
    width: 700px;
}

#imgcontainer
{
    position: relative;
    top: 0;
    left: 50%;
    background: rgb(39,41,45);
    background: linear-gradient(180deg, rgba(39,41,45,1) 0%, rgba(45,46,50,1) 75%);
    border-radius: 100%;
    height: 450px;
    display: flex;
}

app-skill-animation
{
    position: absolute;
    top: 100px;
    display: flex;
}

button{
    position: absolute;
    left: 400px;
    top: 60%;
    width: 200px;
    height: 65px;
}