<div class="container mt-1">
    <h1>Contacto</h1>
    <form #form="ngForm" *ngIf="contact" (ngSubmit)="onSubmit()" class="col-4">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre"  #name="ngModel" required 
            [(ngModel)]="contact.name" name="name">
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                El nombre es requerido
            </small>              
        </div>
        <div class="mb-3">
            <label for="contact" class="form-label">Contacto</label>
            <input type="text" class="form-control" id="contact" #contactInput="ngModel" required 
                [(ngModel)]="contact.contact" name="contact">
            <small *ngIf="!contactInput.valid && contactInput.touched" class="invalid-feedback d-block">
                El contacto es requerido
            </small>                
        </div>        
        <div class="mb-3">
            <label for="type" class="form-label">Tipo</label>
            <input type="text" class="form-control" id="type" #type="ngModel" required 
                 [(ngModel)]="contact.type" name="type">
            <small *ngIf="!type.valid && type.touched" class="invalid-feedback d-block">
                El tipo es requerido
            </small>                   
        </div>
        <div class="mb-3">
            <label  class="form-label">Imagen</label>
            <app-upload-file (fileUploaded)="fileUploaded($event)" [urlBase]="urlUploads"></app-upload-file>  
        </div>                
        <div class="mb-3">
            <button class="btn btn-primary" [disabled]="form.invalid">Guardar</button>
        </div>
    </form>
</div>