<div class="container mt-1">
    <h1>{{getTypeName()}}</h1>
    <form  #form="ngForm" *ngIf="milestone" (ngSubmit)="onSubmit()" class="col-4">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre"  #name="ngModel" required 
                [(ngModel)]="milestone.name" name="name">
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                El nombre es requerido
            </small>                  
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="description"  #description="ngModel" 
            [(ngModel)]="milestone.description" name="description">
        </div>
        <div class="mb-3">
            <label for="place" class="form-label">Lugar</label>
            <select [compareWith]="compareFn" type="text" class="form-select" id="place" [(ngModel)]="milestone.place" name="place">
                <option *ngFor="let p of places" [ngValue]="p">{{p.name}}</option>
            </select>
        </div>        
        <div class="mb-3">
            <label for="fromDate" class="form-label">Desde</label>
            <input type="date" class="form-control" id="fromDate" 
                    [ngModel]="milestone.fromDate | date:'yyyy-MM-dd'" 
                    (ngModelChange)="milestone.fromDate = $event" name="fromDate">
        </div>    
        <div class="mb-3">
            <label for="toDate" class="form-label">Hasta</label>
            <input type="date" class="form-control" id="toDate" 
            [ngModel]="milestone.toDate  | date:'yyyy-MM-dd'" 
            (ngModelChange)="milestone.toDate = $event"
             name="toDate">
        </div>                
        <div class="mb-3">
            <label  class="form-label">Imagen</label>
            <app-upload-file (fileUploaded)="fileUploaded($event)" [urlBase]="urlUploads"></app-upload-file>  
        </div>            
        <div class="mb-3">
            <div *ngIf="milestone.image">
              <img [src]="urlImages + milestone.image" class="avatar_edit">
            </div>
          </div>         
        <div class="mb-3">
            <button class="btn btn-primary" [disabled]="form.invalid">Guardar</button>
        </div>
    </form>
</div>