  <div *ngIf="project">
    <div class="card text-bg-dark" >
      <img *ngIf="project.image && project.image != ''" data-bs-toggle="modal" 
      [attr.data-bs-target]="'#zoomProject' + project.id"
       name="zoomProject{{project.id}}"
      [src]="urlImages + project.image" class="card-img-top rounded-start" alt="...">
      <div>
        <div class="row g-0">
            <div class="col-md-4">
              
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title text-end">{{project.name}}</h5>
                <p class="card-text text-end"><small class="text-muted">{{project.fromDate|date}}</small></p>
              </div>
            </div>
          </div>
      </div>  
      </div>
</div>  

<div *ngIf="project" class="modal fade modal-xl" [id]="'zoomProject' + project.id" tabindex="-1" aria-labelledby="zoomProjectTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="zoomProjectTitle">{{project.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img data-bs-toggle="modal" [attr.data-target]="'#zoomProject' + project.id"
        [src]="urlImages + project.image" class="img-fluid rounded-start" alt="...">
        <div>
          {{project.description}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>