html body {
    background-color: #25262A;
    color: #FEFEFE;
    
}
/*font-family: 'Source Code Pro', sans-serif;*/

.avatar_edit{
    width: 80px;
    margin-bottom: 10px;
}  

i{
    cursor: pointer;
}
