<div class="container-fluid">
  <h1>Estudios</h1>
  <button class="btn btn-success" [routerLink]="['../../' + paths.milestone_new ,type]">Agregar</button>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Desde</th>
        <th scope="col">Titulo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of milestones">
        <th scope="row">{{m.id}}</th>
        <td>{{m.fromDate}}</td>
        <td>{{m.name}}</td>
        <td> 
          <i class="fa-solid fa-pen" 
          [routerLink]="['../' + paths.mileston_detail , m.id]"></i>
          <i class="fa-solid fa-trash" (click)="delete(m)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>