<nav class="navbar">
    <div class="col-1">
      <img src="../../../../assets/logo-arg-prog.png" alt="">
    </div>
    <div class="col d-flex  justify-content-end">
      <app-social-networks></app-social-networks>
    </div>
    <div class="col-1 d-flex justify-content-end m-0 p-0">
      <button *ngIf="!isAuthenticated()" type="button" class="btn btn-success" [routerLink]="routesPaths.login">Login</button>
      <button  *ngIf="isAuthenticated()" type="button" class="btn btn-secondary" (click)="logout()">Salir</button>
    </div>
</nav>