<nav class="navbar">
  <div class="container-fluid ms-1 ps-1">
    <div class="col">
        <a class="col" href="/">
          <img src="../../../../assets/logo.png" alt="">
        </a>
        <a  class="col" href="/">
          <img src="../../../../assets/logo-arg-prog.png" alt="">
        </a>
    </div>
    <div class="col-auto me-3">
      <app-social-networks></app-social-networks>
    </div>
    <div class="col-auto">
      <i *ngIf="isAuthenticated()" (click)="logout()" class="fa fa-sign-out" aria-label="Cerrar Sesion"></i>
      <i *ngIf="isAuthenticated()" class="ms-2 fa fa-cog" [routerLink]="routesPaths.settings + '/personal-data'"></i>
      <i *ngIf="!isAuthenticated()" 
          [routerLink]="routesPaths.auth" 
          class="fa fa-sign-in" 
          data-bs-toggle="tooltip" data-bs-title="Iniciar Sesión"
          aria-hidden="true"></i>
      </div>
  </div>
</nav>